{% extends "ads/base.html" %}

{% load i18n %}

{% block title %}Django Advertising System :: {% trans "AdBox Home" %}{% endblock %}

{% block h1 %}{% trans "AdBox Home" %}{% endblock %}

{% block body %}

<div class="clear_both">
    <div class="box orange al_center">
        <a href="edit/">{% trans "Edit" %}</a>
    </div>

    <div class="box blue al_center">
        <a href="delete/">{% trans "Delete" %}</a>
    </div>

    <div class="box olive panel">
        <table class="form">
            <tr>
                <th>{% trans "Website" %}</th>
                <td>{{ website }}</td>
            </tr>
            <tr>
                <th>{% trans "AdBox Code" %}</th>
                <td>{{ adbox.id }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="box silver clear_both">
    <h4>{% trans "Copy this HTML code and paste in your website" %}</h4>

    <textarea class="code_to_copy" readonly="readonly">{{ adbox.generate_code }}</textarea>
</div>

{% endblock body %}

{% block ads_demo %}
{{ adbox.generate_code|safe }}
{% endblock ads_demo %}

