{% load i18n %}

<html>
    <head>
        <title>{% block title %}Django Advertising System{% endblock %}</title>
        {% block meta %}
        <meta name="keywords" content="django python advertising ads wn network world news">
        <meta name="description" content="This is django-ads, the WN Network advertising system, made with Django and Python">
        <meta name="another" content="Other words to be ignored">
        {% endblock meta %}
        {% block style %}
        <link rel="stylesheet" href="/media/ads/ads.css"/>
        {% endblock %}
        {% block scripts %}
        <script src="/media/ads/jquery.js"></script>
        <script src="/media/ads/ads.js"></script>
        {% endblock %}
    </head>
    <body>
        <h1>{% block h1 %}{% endblock %}</h1>

        {% if messages %}
        <ul class="box yellow messages clear_both">
            {% for msg in messages %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="all">
            {% block body %}
            {% endblock body %}

            <div class="box silver clear_both" style="text-align:center">
                <h2>{% trans "Ads demonstration" %}</h2>

                {% block ads_demo %}
                <div id="adbox_2"/>
                <script type="text/javascript">cont_id='adbox_2';website_id=1;adbox_id=2;adbox_height=300;adbox_width=350</script>
                <script type="text/javascript" src="http://localhost:8000/media/ads/ads_client.js"></script>
                {% endblock ads_demo %}
            </div>
        </div>
    </body>
</html>
