.ads_conteiner {
}

.ads_conteiner .ads_ad {
    width: 248;
    height: 71;
}

.ads_conteiner .ads_ad h6 {
}

.ads_conteiner .ads_ad .ads_description {
    height: 38;
}

.ads_conteiner .ads_ad .ads_url {
}

.ads_footer {
}

div.ads_aads_alld a {
}

a:hover {
}

