{% extends "ads/base.html" %}

{% load i18n %}

{% block title %}Django Advertising System :: {% trans "Ad Home" %}{% endblock %}

{% block h1 %}{% trans "Ad Home" %}{% endblock %}

{% block body %}

<div class="clear_both">
    <div class="box orange al_center">
        <a href="edit/">{% trans "Edit" %}</a>
    </div>

    <div class="box blue al_center">
        <a href="delete/">{% trans "Delete" %}</a>
    </div>

    <div class="box olive panel">
        <table class="form">
            <tr>
                <th>{% trans "Advertiser" %}</th>
                <td>{{ advertiser }}</td>
            </tr>
            <tr>
                <th>{% trans "Ad Code" %}</th>
                <td>{{ ad.id }}</td>
            </tr>
        </table>
    </div>
</div>

{% if ad.log_entries.count %}
<div class="box silver clear_both" style="text-align:center">
    <h2>{% trans "Latest 10 log entries" %}</h2>

    <div class="info">
        {% trans "Viewed" %}: {{ ad.view_count }},
        {% trans "Clicked" %}: {{ ad.click_count }},
        {% trans "Last view" %}: {{ ad.last_view|date:"Y-m-d H:i:s" }},
        {% trans "Next view" %}: {{ ad.next_view|date:"Y-m-d H:i:s" }}
    </div>

    <table width="100%">
        <tr>
            <th>{% trans "When" %}</th>
            <th>{% trans "URL" %}</th>
            <th>{% trans "Type" %}</th>
        </tr>
        {% for log in ad.log_entries.all|slice:":10" %}
        <tr>
            <td>{{ log.date|timesince }}</td>
            <td>{{ log.url }}</td>
            <td>{{ log.get_type_display }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock body %}

